/*统一运维管理平台--任务管理--自动关联服务
caojiacong */

.zdglfw .tyywglpt-list-panel {
    top: 108px;
}

.zdglfw .offset-container .ane-select {
    width: 120px;
    margin-right: 10px;
    margin-top: -2px;
    padding: 0 20px 0 12px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d1d0d0;
}

.zdglfw .offset-container .ane-select-selected {
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
}

.zdglfw .tyywglpt-list-content li:hover .offset-container .ane-select-selected {
    background-color: #fff;
}

.zdglfw .offset-container .ane-select-arrow {
    top: 2px;
}

.zdglfw .offset-container .btn-tool {
    display: inline-block;
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin-top: -2px;
    vertical-align: middle;
}

.zdglfw .tyywglpt-list-content .editBtn {
    cursor: pointer;
    margin-left: 10px;
}