/* 统一运维管理平台--设备资源管理--执法仪管理
caojiacong */

.zfygl .tyywglpt-search-box {
    padding: 15px 4px;
}

.zfygl .tyywglpt-search-box .form-inline {
    top: 0;
}

.zfygl .form-item,
.zfygl .form-item label {
    margin-bottom: 0;
}

.zfygl .tyywglpt-search-box .search-box-bottom {
    margin-bottom: 10px;
}

.zfygl .tyywglpt-search-box .form-item .fa-close {
    right: 15px;
}

.zfygl .tyywglpt-search-box .btn-query {
    width: 110px;
    height: 68px;
    line-height: 68px;
    right: 20px;
    /* top: 20px; */
}

/* 尽量减少宽度让注册时间选中一段时间时，多出来的两个时间框不会掉到第三行 */

/* .zfygl .tyywglpt-search-box label{
    width: 60px;
}
.zfygl .tyywglpt-search-box .form-item{
    width: 245px;
} */

.zfygl .tyywglpt-search-box .label-lg {
    width: 288px;
}

.zfygl .tyywglpt-search-box .label-lg label {
    width: 103px;
}

.zfygl .tyywglpt-search-box  .tree-select-wrap .tree-panel {
    min-width: 180px;
}

.zfygl .duration-container {
    display: inline-block;
}

.zfygl .form-item.duration-item {
    margin-right: 15px;
}

.zfygl .duration-container .form-control {
    height: 30px;
}

.zfygl .date-line {
    margin: 0 4px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.zfygl .tyywglpt-list-panel {
    top: 244px;
}

.zfygl-modal-register .com-modal-modal-body,
.zfygl-modal-modify .com-modal-modal-body {
    padding: 0 95px;
}

.zfygl-modal-register .modal-title,
.zfygl-modal-modify .modal-title {
    margin-left: -95px;
    margin-right: -95px;
}

.zfygl .sbzygl-modal label {
    width: 108px;
}

.zfygl .sbzygl-modal-config .form-item{
    /* margin-left: 54px; */
    margin-left: 36px;
    margin-top: 13px;
    margin-bottom: 18px;
    /* margin-top: 15px; */
}

.zfygl .sbzygl-modal .form-inline .form-item {
    width: 293px;
}

.zfygl-modal-register .allot-type-btn,
.zfygl-modal-modify .allot-type-btn {
    width: 80px;
    position: absolute;
    left: 16px;
}

.zfygl-modal-register .allot-container,
.zfygl-modal-modify .allot-container {
    /* height: 150px; */
}

.zfygl .zfygl-modal-register .form-inline .form-item-lg,
.zfygl .zfygl-modal-modify .form-inline .form-item-lg {
    width: 100%;
}

.zfygl-modal-register .form-item-lg .form-control,
.zfygl-modal-modify .form-item-lg .form-control {
    width: 495px;
}

.zfygl-modal-register .form-item-lg .has-icon .form-control,
.zfygl-modal-modify .form-item-lg .has-icon .form-control {
    width: 461px;
}

.zfygl-modal-register .com-modal-btn-ok,
.zfygl-modal-modify .com-modal-btn-ok {
    float: left;
    margin-left: 230px;
}

.zfygl-modal-register .com-modal-btn-cancle,
.zfygl-modal-modify .com-modal-btn-cancle {
    float: right;
    margin-right: 230px;
}

/* 执法仪无线升级弹窗 */
.zfygl-modal-upgrade .com-modal-modal-footer,
.zfygl-modal-upgrade-info .com-modal-modal-footer {
    text-align: center !important;
}

.zfygl-modal-upgrade .zfygl-upgrade-table {
    width: 100%;
    height: 210px;
    position: relative;
}

#zfygl-modal-upgrade-info {
    font-size: 16px;
    padding: 20px 0;
}

.zfygl-modal-upgrade .strategy {
    margin-top: 20px;
}
.zfygl-modal-upgrade .strategy .form-inline {
    text-align: center;
}
.zfygl-modal-upgrade .strategy .ane-timepicker {
    width: 180px;
}

.zfygl-modal-upgrade .strategy .ane-timepicker .ane-timepicker-clear {
    display: none;
}

.zfygl-modal-upgrade .strategy .ane-timepicker input.key::-ms-clear {
    display: none;
}

.zfygl-modal-upgrade .select-label {
    width: 16px;
    height: 16px;
}

.zfygl-modal-upgrade .update-title {
    font-size: 16px;
    color: #2c477a;
    background-color: #ccdbf1;
    border-bottom: 1px solid #ffffff;
    height: 44px;
    line-height: 44px;
    padding-right: 17px;
}
.zfygl-modal-upgrade .update-title span {
    height: 44px !important;
    line-height: 44px !important;
    border-left: 1px solid #ffffff !important;
}

.zfygl-modal-upgrade .update-package-list {
    height: 170px;
}

.zfygl-modal-upgrade .update-package-list .updata-li {
    border-bottom: 1px solid #ffffff;
    height: 40px;
    line-height: 40px;
}
.zfygl-modal-upgrade .update-package-list .updata-li div {
    height: 40px;
    line-height: 40px;
}

.zfygl-modal-upgrade .update-package-list .updata-li:nth-child(odd) {
    background-color: #e6edf7;
}

.zfygl-modal-upgrade .update-package-list .updata-li:nth-child(even) {
    background-color: #dfe9f7;
}

.zfygl-modal-upgrade .first label {
    height: 16px;
    width: 16px !important;
    margin-bottom: 0;
    margin-right: 0;
}

.zfygl-modal-upgrade .first .radio_selected {
    background: url(/static/image/tyywglpt-sbzygl/radio_selected.png?__sprite) no-repeat;
}

.zfygl-modal-upgrade .first .radio_unselected {
    background: url(/static/image/tyywglpt-sbzygl/radio_unselected.png?__sprite) no-repeat;
}

/* 采集站定向升级 */

.sbzygl-modal-direct .com-modal-modal-body {
    padding: 20px 50px;
    font-size: 14px;
}

.zfygl .sbzygl-modal-direct .form-inline .form-item {
    width: 400px;
}

.sbzygl-modal-direct .form-item .form-control {
    width: 280px;
}

.sbzygl-modal-direct .com-modal-modal-body label {
    width: auto;
    text-align: left;
}

.sbzygl-modal-direct .checkbox-group {
    width: 500px;
    height: 150px;
    overflow: hidden;
}

.sbzygl-modal-direct .checkbox-group .device-list,
.sbzygl-modal-direct .checkbox-group .model-list {
    height: 120px;
    overflow: auto;
    margin-left: -4px\0;
}

.sbzygl-modal-direct .checkbox-group .null {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.sbzygl-modal-direct .checkbox-group li {
    display: inline-block;
    width: 110px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
}

.sbzygl-modal-direct .checkbox-group li .select-label {
    width: 12px;
    height: 12px;
}

.sbzygl-modal-direct .checkbox-group li label {
    width: 78px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sbzygl-modal-direct .checkbox-group li input {
    width: 0;
    display: none;
    display: inline-block\0;
}

.sbzygl-modal-direct .check_selected {
    background: url(/static/image/tyywglpt/check_selected.png?__sprite);
}

.sbzygl-modal-direct .check_unselected {
    background: url(/static/image/tyywglpt/check_unselected.png?__sprite);
}

.sbzygl-modal-direct .checkbox-group .list-loading {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/static/image/tyywglpt/loading.gif) center center no-repeat;
}

.sbzygl-modal-direct .list-loading span {
    width: 100%;
    position: absolute;
    top: 54%;
    left: 0;
    text-align: center;
}

/* 远程配置更新 */

.zfygl-modal-remote-update .com-modal-modal-body {
    padding-top: 16px;
}

.zfygl-modal-remote-update .form-inline .form-item {
    width: 320px;
}

.zfygl-modal-remote-update .form-item label {
    width: 130px;
}

.zfygl-modal-remote-update .form-item .form-tip {
    padding-left: 135px;
}

.zfygl-modal-remote-update .form-inline .form-item-lg {
    width: 100%;
}

.zfygl-modal-remote-update .form-item-lg .has-icon .form-control {
    width: 485px;
}

.zfygl .bottom-tool-bar {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    background-color: #dfe9f7;
    border-top: 1px solid #ffffff;
}

.zfygl .bottom-tool-bar .btn-tool {
    width: 100px;
    height: 30px;
    background: #1055b3;
    position: absolute;
    top: 12%;
    left: 20px;
    z-index: 99;
}

.zfygl .bottom-tool-bar .btn-tool.disabled {
    background: #d4d7d9;
    opacity: 1;
    filter: alpha(opacity=100);
}

.zfygl .bottom-tool-bar .btn-tool.hasList {
    bottom: 0px;
    z-index: 9;
}

.zfygl .tyywglpt-list-panel.listNone {
    bottom: 0px;
}


.tyywglpt.zfygl .sbzygl-modal .form-inline .form-item{
    width: 293px;
}

.tyywglpt.zfygl .sbzygl-modal-config .form-inline .form-item{
    width: 309px;
}

.tyywglpt.zfygl .form-inline .form-item-lg, .zfygl-modal-modify .form-inline .form-item-lg{
    width: 100% !important;
}

.tyywglpt.zfygl .sbzygl-modal label{
    width: 108px;
    font-size: 15px;
}

.tyywglpt.zfygl .sbzygl-modal-config label{
    width: 124px;
    font-size: 15px;
}

.tyywglpt.zfygl .return_btn {
    cursor: pointer;
    float: right;
    width: 110px;
    height: 30px;
    line-height: 30px;
    color: #a7ddff;
    text-align: center;
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 11px;    
}

.tyywglpt.zfygl .return_btn .back_icon {
    float: right;
    width: 28px;
    height: 24px;
    background: url(/static/image/zfsypsjglpt/back_icon_01.png?__sprite) no-repeat;
    margin: 5px 20px 0 0px;
}
.tyywglpt.zfygl .sbzygl-modal.zfygl-modal-register .allotdep .tree-select-wrap .tree-panel, .tyywglpt.zfygl .sbzygl-modal.zfygl-modal-modify .allotdep .tree-select-wrap .tree-panel {
    min-width: 180px;
}

.tyywglpt.zfygl .sbzygl-modal.zfygl-modal-register .devicedep .tree-select-wrap .tree-panel, .tyywglpt.zfygl .sbzygl-modal.zfygl-modal-modify .devicedep .tree-select-wrap .tree-panel {
    min-width: 495px;
}