.myrow {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.sszh-left {
    float: left;
    width: 260px;
    height: 100%;
    /*border: 1px solid #ccc;*/
    background: #F8F8F8;
}

.sszhlefthead {
    background: #eff4f8;
}

.sszh-jy,
.sszh-ry,
.sszh-zj {
    padding: 5px 0;
    text-align: center;
    margin: 0 20px;
    font-weight: normal;
    cursor: pointer;
    width: 31px;
}

.sszh-jy:hover,
.sszh-ry:hover,
.sszh-zj:hover {
    color: #337ab7;
}

.sszhleftheadactive {
    color: #337ab7;
}

.sszh-left .input-group {
    padding: 0;
}

.sszh-left .help-block {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #a94442;
}

.sszhxtsearchLine {
    height: 1px;
    top: 30px;
    left: 0px;
    right: 0px;
    background: #d6dce1;
}

.sszh-left .input-group .input-group-btn button {
    padding: 6px 9px;
    color: #666;
}

.ztreecontianer {
    position: absolute;
    bottom: 15px;
    top: 135px;
    width: 260px;
    overflow: auto;
    padding-left: 10px;
}

.ztree .treezfy {
    /* text-align: center; */
    position: absolute;
    /* top: 50px; */
    left: 0px;
    right: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.ztree-sb {
    margin-top: 15px;
    overflow: auto;
}

.sszhzjry {
    margin-top: 10px;
}

.sszhzjry .zjrymessage {
    padding: 5px;
    font-size: 12px;
    color: #3c3c3c;
    vertical-align: top;
}

.sszhzjry .personimg {
    padding: 0 8px;
    margin-right: 2px;
    background: url(../../static/image/sszhxt/person.png) no-repeat scroll;
    vertical-align: top;
}

.sszhzjry .deviceimg {
    padding: 0 8px;
    margin-right: 2px;
    background: url(../../static/image/sszhxt/device.png) no-repeat scroll;
    vertical-align: top;
}

.sszh-left .ztree li span.button.ico_close {
    margin-right: 2px;
    background: url(../../static/image/sszhxt/org.png) no-repeat scroll;
    /* vertical-align: top; */

}

.sszh-left .ztree li span.button.ico_open {
    margin-right: 2px;
    background: url(../../static/image/sszhxt/org.png) no-repeat scroll;
    vertical-align: top;

}

.sszh-left .ztree li span.button.ico_docu {
    margin-right: 2px;
    background: url(../../static/image/sszhxt/person.png) no-repeat scroll;
    vertical-align: top;
}

.sszhrightcontainer {
    position: absolute;
    right: 0px;
    left: 280px;
    bottom: 0px;
    top: 0px;
}

.sszhrightcontainer .map-loading {
    width: 200px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -15px;
}

.sszh-map {
    position: relative;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    border-left: none;
}

.sszh-map .sszhmapsearch {
    position: absolute;
    top: 10px;
    left: 70px;
    width: 380px;
    z-index: 996;
}

.sszhmapsearch .form-control {
    height: 40px;
    width: 340px;
}

.sszhmapsearch .input-group-btn {
    position: absolute;
    top: 0px;
    left: 337px;
}

.sszhmapsearch .placeholderinput {
    color: #ccc;
}

.sszhmapsearch .input-group-btn .btn {
    padding: 9px;
    background: #f3f6f9;
    border: 1px solid #ccc;
}

.sszhmapsearch .input-group-btn button {
    width: 40px;
}

.sszhmapsearch .input-group-btn .fa {
    color: #337ab7;
}

#sszh-modal-bkfw-cont .tool-slider {
    height: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}
#sszh-modal-bkfw-cont input {
    width: 70px;
    border: 1px solid #eee;
    padding-left: 10px;
    margin-right: 4px;
}

#sszh-modal-bkfw-cont .tool-slider-text {
    margin-left: 20px;
    white-space: nowrap;
}

#sszh-modal-bkfw-cont .tool-slider-text li {
    display: inline-block;
    width: 65px;
    text-align: right;
    margin-left: 2px;
}

#sszh-modal-bkfw-cont .tool-slider-text li span {
    cursor: pointer;
}

#sszh-modal-bkfw-cont .slider-pointer {
    position: absolute;
    top: -5px;
    left: 0;
    width: 6px;
    height: 16px;
    background-color: #0078D7;
}
.animation-for-slider{
    transition: all .3s cubic-bezier(0, 0.88, 0.68, 1.35);
}

#sszh-modal-bkfw-cont .slider-pointer:hover {
    cursor: pointer;
}

#sszhallmap {
    margin: 0;
    font-family: "微软雅黑";
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sszhlzsp {
    position: absolute;
    width: 350px;
    height: 170px;
    left: 400px;
    top: 150px;
    border: 1px solid #cccccc;
    background: #ffffff;
}

.sbxxxf {
    position: absolute;
    width: 330px;
    height: 160px;
    left: 500px;
    top: 160px;
    border: 1px solid #cccccc;
    background: #ffffff;
}

.sszhyyth {
    position: absolute;
    width: 460px;
    height: 310px;
    left: 50px;
    top: 100px;
    border: 1px solid #cccccc;
    background: #ffffff;

}

.voice-btn {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 0;
    color: #fff;
}

.voice-btn:hover {
    color: #ffffff;
}

.slience-btn {
    background-color: #1055B3;
}

.sszhgjxx {
    display: none;
    position: absolute;
    width: 440px;
    height: 230px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #cccccc;
    background: #ffffff;
    z-index: 21;
}

.sszhgjxx p {
    margin: 0;
}

.sszhyythminimize,
.sszhyythclose,
.sszhlzspclose,
.sszhlzspesclose {
    float: right;
    padding: 3px;
    cursor: pointer;
}

#sszhyyth .sszhyythminimize {
    padding-right: 25px;
}

.sszhyythcontent {
    text-align: center;
}

.sszhyythcontent .btn,
.sszhlzsp .btn {
    width: 135px;
    height: 35px;
    margin: 0px 5px;
}

.sszhyythcontent .btn-danger {
    background-color: #d72222;
}

.sszhlzsp .btn {
    width: 100px;
}

.sszhleftcontianer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 30;
}

.sszhyythmincontianer,
.sszhspthmincontianer {
    margin-left: 10px;
}

.sszhthmintitle {
    margin-bottom: 2px;
    min-width: 260px;
    font-size: 16px;
    background-color: #0a1238;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 30px;
}

.sszhthmintitle a {
    cursor: pointer;
    color: #ffffff;
    padding-left: 10px;
}

.sszhthmintitle a:hover {
    opacity: 0.7;
    color: #ffffff;
}

.gjxxtitle,
.sszhyythtitle,
.sszhlzsptitle,
.sbxxxftitle,
.sszh-rlbk-title,
.sszh-cpbk-title {
    padding: 5px;
    vertical-align: middle;
    font-size: 13px;
    color: #ffffff;
    background-color: #0a1238;
}

.sszhyythtitle,
.sszhlzsptitle,
.sbxxxftitle,
.sszhspthtitle,
.sszh-rlbk-title,
.sszh-cpbk-title {
    cursor: move;
}

.sszh-rlbk-title {
    height: 50px;
    line-height: 50px;
    padding: 0;
    border-bottom: 1px solid #ffffff;
}

.sszh-cpbk-title {
    height: 50px;
    line-height: 50px;
    padding: 0;
    border-bottom: 1px solid #ffffff;
}

.title-text {
    padding: 0 0 0 30px;
    font-size: 16px;
}

.title-text-info {
    padding-left: 20px;
}

.sszhyythsignal,
.sszhyythwz {
    position: absolute;
    top: 40px;
    right: 30px;
    color: green;
    font-size: 20px;
}

.sszhyythwz {
    top: 33px;
    right: 5px;
    padding: 5px;
    font-size: 15px
}

.sszhyythimg {
    margin-top: 0;
    text-align: center;
}

.sszhyythtimecount {
    font-size: 18px;
    color: #ffffff;
}

.sszhyythname {
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 36px;
}

.sszhlzsc {
    margin: 20px 0px;
}

.sszhlzsc label {
    margin: 0 20px;
    font-weight: normal;
}

.zdylzsc {
    margin-top: 5px;
}

.zdylzsc input {
    width: 50px;
    padding: 1px;
    border: 1px solid #e0e0df;
}

.sbxxxf .sbxxxfcontent label {
    vertical-align: top;
    margin: 5px 13px;
    font-weight: normal;
    color: #333;
}

.sbxxxf .sbxxxfcontent textarea {
    display: inline-block;
    width: 230px;
    resize: none
}

.sbxxxf .btn {
    position: absolute;
    right: 15px;
    bottom: 3px;
    width: 80px;
    /* height: 30px; */
    padding: 4px;
}

.sszhlzspcontent {
    text-align: center;
}

.gjxxdown {
    position: absolute;
    top: 0px;
    right: 15px;
    cursor: pointer;
    color: #cccccc;
}

.gjxxdown:hover {
    color: #ffffff;
}

.gjxxcontianerhead {
    border-bottom: 1px solid #ccc;
}

.gjxxcontianerhead span,
.gjxxcontianerblock span {
    display: inline-block;
    padding: 5px 2px;
    text-align: center;
    vertical-align: middle;
}

.gjxxcontianerhead span {
    color: #666666;
}

.gjxxcontianer .yichakanspan {
    font-size: 12px;
    color: #a2a2a2;
}

.gjxxcontianer {
    /*padding: 5px 15px;*/
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
}

.gjxxcontianerblock {
    border-bottom: 1px solid #ccc;
}

.gjxxcontianerblock span {
    font-size: 12px;
    cursor: pointer;
}

.gjxxcontianer .weichakanspan {
    color: #3c3c3c;
}

.gjxxcontianerblockspanred {
    color: red !important;
}

.sszhgjxxshow {
    display: none;
}

.sszhgj {
    position: absolute;
    right: 0px;
    bottom: 1px;
    padding: 1px;
    z-index: 5;
    width: 82px;
    height: 25px;
    border-radius: 0;
    z-index: 31;
}

/*视频播放器*/
.sszh-ocx {
    padding: 1px;
    height: 100%;
}

.sszhdtspck {
    overflow: hidden;
    /*width: 1px;*/
    /*height: 1px;*/
    /*z-index: -1;*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 320px;*/
    /*z-index: 9999;*/
}

.sszhspth {
    /*width: 700px;*/
    /*height: 500px;*/
    background: #ffffff;
}

.sszhspthtitle {
    /* background-color: #0078d7; */
    padding: 5px;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
}

.sszhspthtitle span:first-child {
    padding-left: 30px;
}

.sszhspthminimize,
.sszhspthclose,
.sbxxxfclose {
    float: right;
    padding: 3px;
    cursor: pointer;
}

.sszhspthminimize {
    margin-right: 40px;
    margin-top: 15px;
    padding: 0;
}

.sszhspthclose {
    float: right;
    padding: 0;
    cursor: pointer;
    background: url('/static/image/theme/sszhxt/mapIcon/close.png') no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 40px;
    margin-top: 15px;
}

.sshzhspthocx {
    padding: 5px 30px;
}

.sszhspthfoot {
    padding: 20px 30px;
}

.sszhspthfoot p {
    display: inline-block;
    margin-right: 10px;
    line-height: 31px;
    width: 72px;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    cursor: pointer;
}

.sszhspthtimecount {
    color: #a7ddff;
    font-size: 18px !important;
}

.sszhspthfoot .btn {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 0;
    color: #ffffff;
    background-color: #d72222;
}

.sszhspthfoot .hangup-btn-wrap {
    margin-left: 210px;
}

.isyythwin .sszhspthfoot .hangup-btn-wrap {
    margin-left: 152px !important;
}

.slience-icon {
    display: inline-block;
    background: url('/static/image/theme/sszhxt/popupWin/novoice.png?__sprite') no-repeat;
    width: 14px;
    height: 18px;
}

.hangup-icon {
    display: inline-block;
    background: url('/static/image/theme/sszhxt/popupWin/hangup.png?__sprite') no-repeat;
    width: 26px;
    height: 10px;
}

.hangup-text {
    padding-left: 18px;
    color: #fff;
}

.sszhrightcontainer .xhgood {
    width: 13px;
    height: 14px;
    /* margin-right: 5px; */
    vertical-align: middle;
    background: url("../../static/image/sszhxt-sszh/signalgood.png") no-repeat scroll;
}

.sszhspxhwzgood {
    color: green;
}

.sszhrightcontainer .xhbetter {
    width: 13px;
    height: 8px;
    /* margin-right: 5px; */
    vertical-align: middle;
    background: url("../../static/image/sszhxt-sszh/signalbetter.png") no-repeat scroll;
}

.sszhspxhwzbetter {
    color: #FF7E00;
}

.sszhrightcontainer .xhbad {
    width: 13px;
    height: 8px;
    /* margin-right: 5px; */
    vertical-align: middle;
    background: url("../../static/image/sszhxt-sszh/signalbad.png") no-repeat scroll;
}

.sszhspxhwzbad {
    color: red;
}

.sszhspthfoot .jy {
    width: 13px;
    height: 18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u160.png") no-repeat scroll;
}

.jyp:hover,
.djp:hover,
.jtp:hover,
.qpp:hover {
    color: #337ab7;
}

.jyp:hover>.jy {
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u165.png") no-repeat scroll;
}

.djp .yydjtalk {
    width: 16px;
    height: 18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u140.png") no-repeat scroll;
}

.djp .yydjstop {
    width: 16px;
    height: 18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u587.png") no-repeat scroll;
}

.djp:hover>label {
    width: 16px;
    height: 18px;
    vertical-align: bottom;
    background: url("../../static/image/sszhxt-sszh/u140.png") no-repeat scroll;
}

.jtp>label {
    width: 20px;
    height: 18px;
    vertical-align: bottom;
    background: url("/static/image/theme/sszhxt/popupWin/cutting.png?__sprite") no-repeat scroll;
}

.qpp>label {
    width: 20px;
    height: 17px;
    vertical-align: bottom;
    background: url("/static/image/theme/sszhxt/popupWin/fullscreen.png?__sprite") no-repeat scroll;
}

.jtp:hover>label,
.qpp:hover>label {
    opacity: 0.7;
}
.yyth-switch {
    width: auto !important;
}
.yyth-switch label{
    color: #ffffff;
    font-weight: 300;
}

.sszhocxcontainer,
.sszhocxTools,
.toolsLeft,
.toolsMiddle,
.toolsRight {
    display: inline-block;
}

.sszhocxcontainer {
    float: left;
}

.isyythwin #npGSVideoPlugin {
    width: 690px !important;
}

.sszhocxTools {
    width: 300px;
    cursor: pointer;
    margin-top: 45px;
}

.sszhocxTools .sszhocxToolshead {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.sszhocxTools ul {
    padding: 10px 10px 30px 10px;
    border-bottom: 1px solid #203b6d;
}

.tongdaoli input[type="radio"] {
    width: 84px;
    position: absolute;
    top: 8px;
    height: 16px;
    z-index: 1;
    opacity: 0;
}

.sszhocxTools .tongdaoLiNocheckImg {
    background: url("/static/image/theme/sszhxt/popupWin/unselected.png?__sprite") no-repeat;
    width: 14px;
    height: 17px;
    vertical-align: middle;
    margin: 0 6px;
}

.sszhocxTools .tongdaoLicheckImg {
    background: url("/static/image/theme/sszhxt/popupWin/selected.png?__sprite") no-repeat;
    width: 14px;
    height: 17px;
    vertical-align: middle;
    margin: 0 6px;
}

.sszhocxTools .tongdaoLicheckImg + span {
    color: #30ff00;
}

.sszhocxTools .tongdaoli {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 130px;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.sszhocxTools .sszhToolsContainer {
    padding: 50px 10px 10px 10px;
}

.sszhocxTools .toolsLeft {
    background: url("../../static/image/sszhxt-sszh/u1057.png") no-repeat;
    width: 96px;
    height: 96px;
    position: relative;
}

.sszhocxTools .toolLeftMiddleImg {
    background: url("../../static/image/sszhxt-sszh/u1059.png") no-repeat;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 26px;
    left: 26px;
}

.sszhocxTools .toolLeftMiddleImgReback {
    background: url("../../static/image/sszhxt-sszh/reback.png") no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.sszhocxTools .toolLeftMiddleImgReback:hover {
    background: url("../../static/image/sszhxt-sszh/reback_hover.png") no-repeat;
}

.sszhocxTools .toolsLeftimg,
.sszhocxTools .toolsTopimg,
.sszhocxTools .toolsRightimg,
.sszhocxTools .toolsBottomimg {
    width: 14px;
    height: 10px;
}

.sszhocxTools .toolsLeftimg:hover,
.sszhocxTools .toolsTopimg:hover,
.sszhocxTools .toolsRightimg:hover,
.sszhocxTools .toolsBottomimg:hover {
    color: #ccc;
}

.sszhocxTools .toolsLeftimg {
    position: absolute;
    top: 43px;
    left: 10px;
}

.sszhocxTools .toolsTopimg {
    position: absolute;
    top: 10px;
    left: 42px;
}

.sszhocxTools .toolsRightimg {
    position: absolute;
    top: 43px;
    right: 4px;
}

.sszhocxTools .toolsBottomimg {
    position: absolute;
    bottom: 10px;
    left: 43px;
}

.sszhocxTools .toolsMiddle {
    width: 110px;
    height: 90px;
    margin-left: 5px;
}

.sszhocxTools .toolsMiddle p {
    margin: 0;
    position: relative;
}

.sszhocxTools .toolsMiddleP1,
.sszhocxTools .toolsMiddleP2 {
    border-bottom: 1px solid #ccc;
    height: 30px;
}

.toolsMiddle .spanone {
    background: url("../../static/image/sszhxt-sszh/1 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
}

.toolsMiddle .spanone:hover {
    background: url("../../static/image/sszhxt-sszh/1 (2).png") no-repeat;
}

.toolsMiddle .spantwo {
    background: url("../../static/image/sszhxt-sszh/2 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
    left: 55px;
}

.toolsMiddle .spantwo:hover {
    background: url("../../static/image/sszhxt-sszh/2 (2).png") no-repeat;
}

.toolsMiddle .spanthree {
    background: url("../../static/image/sszhxt-sszh/3 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
}

.toolsMiddle .spanthree:hover {
    background: url("../../static/image/sszhxt-sszh/3 (2).png") no-repeat;
}

.toolsMiddle .spanfour {
    background: url("../../static/image/sszhxt-sszh/4 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
    left: 55px;
}

.toolsMiddle .spanfour:hover {
    background: url("../../static/image/sszhxt-sszh/4 (2).png") no-repeat;
}

.toolsMiddle .spanfive {
    background: url("../../static/image/sszhxt-sszh/5 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
}

.toolsMiddle .spanfive:hover {
    background: url("../../static/image/sszhxt-sszh/5 (2).png") no-repeat;
}

.toolsMiddle .spansix {
    background: url("../../static/image/sszhxt-sszh/6 (1).png") no-repeat;
    width: 54px;
    height: 30px;
    position: absolute;
    left: 55px;
}

.toolsMiddle .spansix:hover {
    background: url("../../static/image/sszhxt-sszh/6 (2).png") no-repeat;
}

.sszhocxTools .toolsRight {
    width: 54px;
    height: 88px;
    margin-left: 10px;
    background: url("../../static/image/sszhxt-sszh/moveyourself (1).png");
}

.sszhocxTools .toolsRight:hover {
    background: url("../../static/image/sszhxt-sszh/moveyourself (2).png");
}

.sszhocxTools .toolsFoot {
    position: relative;
    width: 250px;
    height: 25px;
    margin-top: 20px;
}

.sszhocxTools .toolsFootBg {
    position: relative;
    width: 250px;
    height: 10px;
    background: url("../../static/image/sszhxt-sszh/movebg.png");
    margin-top: 20px;
}

.sszhocxTools .toolsFoolMoveImg {
    position: absolute;
    left: 2px;
    top: 5px;
    cursor: pointer;
    background: url("../../static/image/sszhxt-sszh/move.png") no-repeat;
    width: 10px;
    height: 15px;
}

.sszhgjWindow {
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
}

/*设备信息弹框*/
#sszhallmap .esriPopup .titlePane {
    background: rgb(7, 124, 225);
    line-height: 25px;
}

#sszhallmap .esriPopupWrapper .sizer .title {
    font-size: 14px;
    padding: 4px;
}

#sszhallmap .esriPopupWrapper .sizer .maximize {
    display: none;
}

#sszhallmap .esriPopupWrapper .sizer .close {
    top: 7px;
    right: 5px;
}

#sszhallmap .esriPopupWrapper .sizer .actionsPane .actionList {
    display: none;
}

.sszhxt-sszh-map {
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    bottom: 20px;
    top: 120px;
    left: 490px;
    right: 20px;
    z-index: 0;
    overflow: hidden;
    /* margin-top: -71px; */
    /* padding-top: 71px; */
    /*margin-left: -280px;*/
    /*padding-left: 280px;*/
    /* padding-right: 2px; */
    /*z-index: 10;*/
}

.sszh-map .sszhmapsearch .mapclose {
    position: absolute;
    left: 320px;
    top: 12px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.sszh-cpbk .green,
.sszhrlbk-footer .green {
    background: green;
}

.sszhdeviceInfo .white,
.sszh-cpbk .white,
.sszhrlbk-footer .white {
    background: #cccccc;
}

.sszh-cpbk .red,
.sszhrlbk-footer .red {
    background: red;
}

.sszhdeviceInfo .orange,
.sszh-cpbk .orange,
.sszhrlbk-footer .orange {
    background: orange;
}
/* 没有定位的设备弹窗样式 */
.sszhdeviceInfo {
    font-size:  16px;
    width: 460px;
    position: absolute;
    right: 0px;
    top: 70px;
    z-index: 99;
    background: #0A1238;
    border: 1px solid #ccc;
}
.sszhdeviceInfo .title {
    border-bottom: 1px solid;
    color: #fff;
    height: 50px;

}
.sszhdeviceInfo .title .dia-close {
    background: url('/static/image/theme/sszhxt/mapIcon/close.png') no-repeat; 
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 15px 30px;
    float: right;    
}
.sszhdeviceInfo .attributeName {
  display: inline-block;
  margin-right: 18px;
}
.sszhdeviceInfo .btn-event {
    width: 120px;
    background-color: #fff;
    height: 40px;
    color: #1055B3;
    border-radius: 0;
    font-size: 16px;
    margin-right: 20px;
    border: 0;
}
.sszhdeviceInfo .btn-last{
    margin-top: 10px;
}
.sszhdeviceInfo .green {
    background: #30FF00;
}
.sszhdeviceInfo .red {
    background: #D72222;
}

.sszhdeviceInfo p {
    padding-left: 30px;
    padding-top:10px;
    word-break: break-all;
    color: #fff;
}


/* -------人脸布控 start------------------------- */
.sszhrlbk {
    overflow: hidden;
}


.sszhrlbk .sszhrlbk-body {
    padding: 20px 30px;
    width: 100%;
    height: 340px;
    background-color: rgb(10, 18, 56);
}

.sszhrlbk .sszhrlbk-content {
    width: 100%;
    height: 240px;
}

.sszhrlbk .scene,
.sszhrlbk .recognition {
    float: left;
    box-sizing: border-box;
    position: relative;
    width: 190px;
    height: 210px;
}

.sszhrlbk .scene span,
.sszhrlbk .recognition span {
    display: block;
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #1055b3;
}

.sszhrlbk .sszhrlbk_en .scene span,
.sszhrlbk .sszhrlbk_en .recognition span {
    font-size: 16px;
}

.sszhrlbk .scene img,
.sszhrlbk .recognition img {
    display: block;
    width: 100%;
    height: 100%;
}

.sszhrlbk #show_percent {
    width: 140px !important;
    height: 140px !important;
    /* margin-left: 10px; */
    margin-top: 50px;
}

.sszhrlbk .percent {
    float: left;
    width: 140px;
    height: 240px;
}

.sszhrlbk .percent .percent_span {
    color: #ffffff;
    font-size: 16px;
    margin-left: 45px;
}

.sszhrlbk .sszhrlbk_en .percent .percent_span {
    margin-left: 40px;
}

.sszhrlbk .recognition_content {
    width: 100%;
    height: 100%;
}

.sszhrlbk .recognition_content .recognition_label {
    float: left;
    width: 260px;
    height: 240px;
    color: #ffffff;
    font-size: 14px;
    background-color: #203b6d;
    padding: 10px;
    position: relative;
}

.sszhrlbk .recognition_content .recognition_label > div{
    white-space: nowrap;
}

.sszhrlbk .recognition_content .recognition_label.rzhy-label{
    float: none;
    width: auto;
    margin-left: 210px;
}

.sszhrlbk .sszhrlbk-content .rzhy-item {
    color: #ffffff;
    font-size: 14px;
    background-color: #203b6d;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
}

.sszhrlbk .sszhrlbk-content .rzhy-item label {
    font-weight: normal;
}

.sszhrlbk .recognition_content .recognition_label label {
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.rec-type {
    width: 230px;
    height: 50px;
    background-color: #d72222;
    border-radius: 25px;
    text-align: center;
    line-height: 48px;
    font-size: 36px;
    position: absolute;
    bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px;
}

.sszhrlbk .control_bar {
    position: relative;
}

.sszhrlbk .tempWrap {
    width: 800px !important;
    margin-left: 35px;
}

.sszhrlbk .control_bar .pageState,
.sszhrlbk .control_bar ul {
    display: none;
}

.sszhrlbk .control_bar .next,
.sszhrlbk .control_bar .prev {
    display: block;
    width: 22px;
    height: 54px;
    overflow: hidden;
    cursor: pointer;
}

.sszhrlbk .control_bar .next {
    position: absolute;
    right: 6px;
    top: 55px;
    background: url(/static/image/sszhxt-znsb/nextBtn.png) 0 0 no-repeat;
}

.sszhrlbk .control_bar .nextStop {
    background: url(/static/image/sszhxt-znsb/nextStopBtn.png) 0 0 no-repeat;
    cursor: not-allowed;
}

.sszhrlbk .control_bar .prev {
    position: absolute;
    left: 6px;
    top: 55px;
    background: url(/static/image/sszhxt-znsb/prevBtn.png) 0 0 no-repeat;
}

.sszhrlbk .control_bar .prevStop {
    background: url(/static/image/sszhxt-znsb/prevStopBtn.png) 0 0 no-repeat;
    cursor: not-allowed;
}

.sszhrlbk .comparison_result {
    width: 100%;
    height: 220px;
    margin-top: 8px;
    border: 1px solid #e0e7ec;
    padding-top: 10px;
}

.sszhrlbk .comparison_result .result_title {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #536b82;
    padding-left: 10px;
}

.sszhrlbk .comparison_result .result_li {
    width: 125px !important;
    height: 170px;
    float: left;
    border: 1px solid #e0e7ec;
    margin-right: 10px;
    color: #536b82;
    position: relative;
    cursor: pointer;
}

.sszhrlbk .comparison_result .select_li {
    border: 1px solid #be3335;
}

.sszhrlbk .comparison_result .select_li .result_txt {
    color: #be3335;
}

.sszhrlbk .comparison_result .result_li img {
    width: 123px;
    height: 145px;
}

.sszhrlbk .comparison_result .result_li .result_txt {
    position: absolute;
    bottom: 0;
}

.sszhrlbk .sszhrlbk_en .comparison_result .result_li .result_txt {
    font-size: 12px;
}

.sszhrlbk .sszhrlbk-footer {
    width: 100%;
    margin-top: 24px;
    text-align: center;
}

.sszhrlbk .sszhrzhy-footer {
    width: 100%;
    margin-top: 70px;
    text-align: center;
}

.sszhrlbk .sszhrlbk-footer .dl {
    float: left;
    font-size: 14px;
    color: #536b82;
    width: 100px;
}

.sszhrlbk .sszhrlbk-footer .common_btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    position: relative;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #0078d7;
    color: #fff;
    font-size: 14px;
    border-color: #0078d7;
    margin-left: 10px;
    float: right;
}

.sszhrlbk .sszhrlbk-footer .common_btn:hover {
    color: #fff;
    background: #0057a1;
    border-color: #0057a1;
}

.sszhrlbk .sszhrlbk-footer .common_btn.bk {
    border-color: #be3335;
    background-color: #be3335;
}

.sszhrlbk .sszhrlbk-footer .common_btn.bk:hover {
    border-color: #922123;
    background-color: #922123;
}

/* -------人脸布控 end------------------------- */

/* 车牌布控 start */
.sszh-cpbk-content {
    height: 310px;
    width: 790px;
    margin: 20px auto;
    background-color: #203b6d;
}

.sszh-cpbk-content .row {
    margin: 38px 0 0 0;
    color: #ffffff;
}

.sszh-cpbk-content .row p {
    margin: 0;
    line-height: 24px;
}

.cpbk-photo-wrap {
    /* margin: 10px auto; */
    text-align: center;
    position: relative;
}

.recognition-text {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    text-align: center;
    height: 50px;
    background: #d72222;
    border-radius: 25px;
    line-height: 50px;
    color: #ffffff;
    font-size: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 6px;
}

.cpbk-photo {
    /* padding: 10px; */
    /* margin: 0 20px; */
    display: inline-block;
    position: relative;
}

.cpbk-photo p {
    border-left: 2px solid #096EC6;
    text-align: left;
    padding-left: 4px;
}

.cpbk-photo img {
    width: 300px;
    height: 180px;
    /* border: 1px solid #E4E4E4; */
}

/* .photo-left h4 {
    background-color: #be3335;
} */

.photo-right {
    margin-left: 190px;
}

/* .photo-right h4 {
    background-color: #0078d7;
} */

.cpbk-photo h4 {
    position: absolute;
    bottom: -28px;
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background: #1055b3;
    margin: 0;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
}

.cpbk-btn-wrap {
    margin: 30px auto;
    text-align: center;
}

.cpbk-btn-wrap>p {
    display: inline-block;
}

.cpbk-btn-inline {
    padding: 0 30px 0 25px;
    display: inline-block;
}

.player-primary-btn {
    margin: 0 5px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 0;
    color: #1055b3;
    background-color: #ffffff;
    font-size: 16px;
}

.player-primary-btn:hover {
    opacity: 0.7;
    background: #ffffff !important;
    color: #1055b3;
}

/* 车牌布控 end */

.cpbkCPKLink{
    background: #ffffff;
    width: 120px;
    display: inline-block;
}
.rlkszLink{
    background: #ffffff;
    width: 50px;
    display: inline-block;
}

.cpbkCPKLink .cpkbg{
    width: 25px;
    height: 20px;
    margin-right: 5px;
}

/* 注意：在OCX上时，背景色决不能有透明度 */
.sszhxt-sszh-sos .sos-info-bg {
    background: rgb(32,59,109) !important; 
}