.sgcl-container .top-form-inline .form-control {
  width: 180px;
  margin-left: 10px;
  height: 28px;
  line-height: 1.028571;
}

.sgcl-container .top-form-inline>label,
.sgcl-container .top-form-inline>span {
  font-size: 14px;
  font-weight: 200;
  margin-left: 13px;
  color: #536b82;
}

.sgcl-container .top-form .top-form-inline .form-group.form-item {
  margin-left: 0;
}

.sgcl-container .top-form .top-form-inline .form-group.has-feedback.form-item {
  margin-left: 0;
}

.sgcl-container .top-form-inline .form-control {
  width: 130px !important;
  height: 28px;
  line-height: 1.028571;
  min-width: 125px;
}

.sgcl-container .top-form .inline-component .ane-datepicker {
  width: 130px !important;
  min-width: 125px;
}

.sgcl-container .timeCover .has-feedback {
  width: 250px !important;
}

.sgcl-container .timeCover {
  margin-right: 0;
  margin-left: -15px;
}
.sgcl-container ::-ms-clear {
  display: none;
}
.btn_top {
  /* top: 110px; */
}

.sgcl-container .ane-datepicker-clear  {
  display: none !important;
}
.sgcl-container .tree-select-wrap .tree-panel {
  min-width: 130px;
  left: 10px;
}