.zfsypsjglpt_tjfx_khqktj {
    width: 100%;
    position: relative;
    height: 853px;
    min-width: 1266px;
}

.zfsypsjglpt_tjfx_khqktj .search_box {
    position: absolute;
    width: 100%;
    z-index: 1;
    border: 1px solid #e4e4e4;
    background-color: #f3f5f7;
    padding-bottom: 7px;
}

.zfsypsjglpt_tjfx_khqktj .hBox {
    width: 100%;
    height: 45px;
    padding-left: 10px;
}

.zfsypsjglpt_tjfx_khqktj .search_box span.span_cls {
    float: left;
    display: inline-block;
    height: 28px;
    width: 76px;
    text-align: right;
    line-height: 28px;
    max-width: 100%;
    margin-bottom: 5px;
    color: #536b82;
}

.zfsypsjglpt_tjfx_khqktj .search_box .hBox>.dataFormBox>span,
.zfsypsjglpt_tjfx_khqktj .search_box .hBox>.dataRadioBox>span {
    font-weight: bold;
}

.zfsypsjglpt_tjfx_khqktj .dataFormBox {
    width: 295px;
    display: inline;
    float: left;
}

.zfsypsjglpt_tjfx_khqktj .dataTimeBox {
    /* width: 555px; */
    float: left;
    /* margin-left: 5px; */
}

.zfsypsjglpt_tjfx_khqktj .dataTimeBox>span {
    font-weight: bold;
}

.zfsypsjglpt_tjfx_khqktj .dataTimeBox .zhkp-dataRight .ane-datepicker .form-control {
    height: 28px;
    line-height: 14px;
}

.zfsypsjglpt_tjfx_khqktj .zhkp-dataRight .ane-datepicker input {
    height: 28px;
    padding: 0px 12px;
}

.zfsypsjglpt_tjfx_khqktj .ane-radio input[type=radio]+.text,
.dialog_zfyps .ane-radio input[type=radio]+.text {
    line-height: 34px;
}

.zhkp-dataRight {
    display: inline-block;
    vertical-align: middle;
    width: 178px;
    height: 28px;
    margin-right: 3px;
    /* margin-left: 5px; */
    float: left;
}

.zfsypsjglpt_tjfx_khqktj .dataFormBox .formInput,
.zfsypsjglpt_tjfx_khqktj .timeSelect {
    width: 178px;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    color: #536b82;
}

.zfsypsjglpt_tjfx_khqktj .dataFormBox .ane-tree-select .ane-tree-select-arrow,
.zfsypsjglpt_tjfx_khqktj .dataFormBox .ane-select .ane-select-arrow,
.zfsypsjglpt_tjfx_khqktj .dataRadioBox .ane-select .ane-select-arrow {
    top: 4px;
    color: #536b82;
}

.zfsypsjglpt_tjfx_khqktj .dataFormBox .ane-tree-select-selection .ane-tree-select-selected,
.zfsypsjglpt_tjfx_khqktj .dataRadioBox .ane-select-selection .ane-select-selected,
.zfsypsjglpt_tjfx_khqktj .dataFormBox .ane-select-selection .ane-select-selected {
    top: -2px;
    height: 28px;
    line-height: 28px;
}

.zfsypsjglpt_tjfx_khqktj .hBox .zhkp_tip_box .zhkp_tip,
.qzpz-wrap .zhkp_tip {
    font-size: 12px;
    line-height: 13px;
    height: 14px;
    margin-bottom: 0;
    color: #d2403d;
}

.qzpz-wrap .tips-wrap {
    position: absolute;
    top: 35px;
    right: 0;
    width: 150px;
    text-align: right;
}

.zfsypsjglpt_tjfx_khqktj .dataTimeBox .zhkp-dataRight .ane-datepicker input.input_error {
    border-color: #d2403d !important;
}

.zfsypsjglpt_tjfx_khqktj em {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 5px;
}

.zfsypsjglpt_tjfx_khqktj .btn-wrap {
    position: absolute;
    top: 8px;
    right: 0;
}

.zfsypsjglpt_tjfx_khqktj .common_search_btn:hover {
    background-color: #DB7400;
}

.zfsypsjglpt_tjfx_khqktj .common_search_btn {
    float: right;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    background-color: #fd8702;
}
.zfsypsjglpt_tjfx_khqktj .common_export_btn {
    float: right;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    background-color: #0078d7;
}

.zfsypsjglpt_tjfx_khqktj .common_export_btn:hover {
    background-color: #0057A1;
}

.zfsypsjglpt_tjfx_khqktj .weight_setting_btn {
    float: right;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    background-color: #0078d7;
    right: 0px;
}

.zfsypsjglpt_tjfx_khqktj .weight_setting_btn:hover {
    background-color: #0057A1;
}

.zhkp_tabCont {
    position: absolute;
    bottom: 30px;
    top: 140px;
    right: 0px;
    left: 0;
}

.zhkp_tabCont .table-saika .fixed-table-saika-tbody .table>tbody>tr:first-child td>div.trigon {
    top: 1px !important;
}

.zhkp_tabCont .table-saika .table-saika-text-color {
    color: #0979d0;
}

.zhkp_tabCont .table-index .table-index-tbody li .tbody {
    position: relative;
}

/* 分页样式 */

.zfsypsjglpt_tjfx_khqktj .zhkp_page {
    position: absolute;
    width: 99%;
    height: 30px;
    bottom: -9px;
}

.zfsypsjglpt_tjfx_khqktj .zhkp_page .pagebar {
    width: 100%;
    bottom: 0;
    left: 0;
}

.zfsypsjglpt_tjfx_khqktj .zhkp_page .com-pages {
    right: -17px;
}

/* 分页样式end */

/* xx率计算描述弹窗样式 */

.zhkp-tips .modal-header {
    height: 50px;
    line-height: 50px;
    background-color: #0078D7;
    color: #fff;
    border-color: #0078D7;
    cursor: move;
}

.zhkp-tips .modal-body p {
    font-size: 14px;
    font-weight: normal;
    color: #536b82;
    font-weight: normal;
}

.zfsypsjglpt_tjfx_khqktj .search_box .tips-img {
    position: absolute;
    right: 20px;
    top: 400px;
}

.zfsypsjglpt_tjfx_khqktj .search_box .tips-img:hover {
    cursor: pointer;
}

/* 表格样式 */

.table-index .col-2 {
    width: 2%;
}

.table-index .col-3 {
    width: 3%;
}

.table-index .col-4 {
    width: 4%;
}

.table-index .col-5 {
    width: 5%;
}

.table-index .col-8 {
    width: 8%;
}

.table-index .col-9 {
    width: 9%;
}

.table-index .col-10 {
    width: 10%;
}

.table-index .col-12 {
    width: 12%;
}

.table-index .col-15 {
    width: 15%;
}

.table-index .col-20 {
    width: 20%;
}

.table-index .col-30 {
    width: 30%;
}

.table-index .col-40 {
    width: 40%;
}

.zfsypsjglpt_tjfx_khqktj .table-index .trigon {
    width: 0;
    height: 0;
    border-color: #009900 transparent;
    border-width: 10px 0 0 10px;
    border-style: solid;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}

.td-text-color {
    color: #0979d0;
}

/*tree-select start*/

.zfsypsjglpt_tjfx_khqktj .tree-select-wrap .ztree span {
    height: 21px;
    line-height: 21px;
}

.zfsypsjglpt_tjfx_khqktj .tree-select-wrap {
    width: 60%;
}

.zfsypsjglpt_tjfx_khqktj .dep_tree .form-control,
.zfsypsjglpt_tjfx_khqktj .dep_tree span {
    height: 28px;
    line-height: 28px;
    color: #536b82;
}

.zfsypsjglpt_tjfx_khqktj .tree-select-wrap .fa {
    top: 4px;
    color: #536b82;
}

.zfsypsjglpt_tjfx_khqktj .tree-select-wrap .ztree li a.curSelectedNode {
    border: none;
}

.zfsypsjglpt_tjfx_khqktj .tree-select-wrap .tree-select-search {
    width: 100%;
    padding-right: 7px;
}

/*tree-select end*/

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .check_Btn,
.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .del_Btn {
    color: #006BBD;
}

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .check_Btn {
    margin-right: 25px;
}

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .check_Btn:hover,
.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .del_Btn:hover {
    cursor: pointer;
    color: #0099FF;
}

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table {
    position: absolute;
    width: 100%;
    /* height: 674px; */
    /* top: 108px; */
    top: 146px;
    bottom: 40px;
    /* padding-top: 108px; */
    /* padding-left: 10px; */
}

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .pagebar {
    /*width: 1200px;*/
    bottom: 0;
    position: initial;
}

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .khqktj-list-header-upper {
    width: 100%;
    background: #e0e7ed;
    /* border: 1px solid #a5b4bd; */
    margin-top: 0px;
}

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .khqktj-list-panel {
    left: 0px;
    right: 0px;
    font-size: 14px;
    color: #536b82;
    text-align: center;
    top: 0px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .table-index{
    height: auto !important;
}

.zfsypsjglpt_tjfx_khqktj .khqktj-list-panel li {
    line-height: 32px;
    font-size: 14px;
    color: #536b82;
    font-weight: normal;
    white-space: nowrap;
    min-width: 25px;
}

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .col-8 {
    width: 8%;
}

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .col-12 {
    width: 12%;
}

.zfsypsjglpt_tjfx_khqktj .zfsypsjglpt_tjfx_khqktj_jj_table .col-4 {
    width: 4%;
}

.zfsypsjglpt_tjfx_khqktj .table-index .noData {
    top: 42px;
    border: none;
}

.zfsypsjglpt_tjfx_khqktj .khqktj-list-content {
    min-height: 32px;
    overflow: auto;
    background: #f7f7f7;
    /* border: 1px solid #e0e7ec; */
    border-top: none;
    position: relative;
    height: 90%;
    text-align: left;
    margin-left: 1px;
}
.zfsypsjglpt_tjfx_khqktj .khqktj-list-content li:hover{
    background: #E8EFF5;
    /* cursor: pointer; */
}
.zfsypsjglpt_tjfx_khqktj .khqktj-list-content > li > div {
    text-align: center;
    min-width: 25px;
}

.zfsypsjglpt_tjfx_khqktj .khqktj-list-content > li > div:first-child {
    border-left: 1px solid #e0e7ec !important;
}

.zfsypsjglpt_tjfx_khqktj .khqktj-list-content > li > div:last-child {
    border-right: none;
}

.zfsypsjglpt_tjfx_khqktj .khqktj-list-content > li > div a {
    color: #536b82;
}

.zfsypsjglpt_tjfx_khqktj .khqktj-list-content > li > div a.checkLook {
    cursor: pointer;
    color: #0419dc !important;
}

.zfsypsjglpt_tjfx_khqktj .table-index-loading {
    height: 100% !important;
}

.zfsypsjglpt_tjfx_khqktj .header-fill {
    width: 18px;
    height: 32px;
    position: absolute;
    right: 0px;
    top: 1px;
    border-bottom: 1px solid #a5b4bd;
}

.zfsypsjglpt_tjfx_khqktj .khqktj-list-header {
    width: 100%;
    margin-top: -2px;
    background: #e0e7ed;
    border: 1px solid #a5b4bd;
    border-top: 1px solid #e0e7ec;
}
.zfsypsjglpt_tjfx_khqktj .khqktj-list-header-upper,
.zfsypsjglpt_tjfx_khqktj .khqktj-list-header{
    border: 0px;
    text-align: left;
    /* border-left: 1px solid #a5b4bd; */
}
.zfsypsjglpt_tjfx_khqktj .khqktj-list-header-upper li {
    display: inline-block;
    background: #e0e7ec;
    border-left: 1px solid #a5b4bd;
    border-bottom: 1px solid #a5b4bd;
    height: 32px;
}
.zfsypsjglpt_tjfx_khqktj .khqktj-list-header li {
    display: inline-block;
    background: #e0e7ec;
    border-left: 1px solid #a5b4bd;
    height: 32px;
}
.zfsypsjglpt_tjfx_khqktj .khqktj-list-header-upper li,
.zfsypsjglpt_tjfx_khqktj .khqktj-list-header li{
    border: 1px solid #a5b4bd;
    text-align: center;
}
.zfsypsjglpt_tjfx_khqktj .khqktj-list-header-upper li+li,
.zfsypsjglpt_tjfx_khqktj .khqktj-list-header li+li{
    border-left: 0px;
}
.borberb{
    border-bottom: 0px !important;
}
.borbert{
    border-top: 0px !important;
    position: relative;
}
.borbert > span {
    position: absolute;
    top: -15px;
    left: 0;right: 0;
    overflow:  hidden;
}
.zfsypsjglpt_tjfx_khqktj .khqktj-list-content .hover-color{
    background-color: #E6E6E6;
}

.zfsypsjglpt_tjfx_khqktj .khqktj-list-content div {
    display: inline-block;
    height: 34px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e0e7ec;
    /* border-left: 1px solid #e0e7ec; */
    border-color: #E5EAEF;
    font-family: "Microsoft YaHei";
    color: #536b82;
    font-weight: normal;
    font-size: 14px;
    vertical-align: middle;
    border-right: 1px solid #e0e7ec !important;
    border-left: none !important;
}

.no-left-border {
    border-left: none;
}
.no-right-border {
    border-right: none;
}

.zfsypsjglpt_tjfx_khqktj  li.list-null {
    width: 100%;
    text-align: center;
}



.tjfx_khqktj_detail_table {
    position: absolute;
    top: 120px;
    bottom: 40px;
    width: 100%;
}

.zfsypsjglpt_tjfx_khqktj .com-breadcrumb {
    position: absolute;
    top: 104px;
}
