.zfsypsjglpt-jdkp-kpcczl-ck-fxccf .top-form-inline .glmt {
    margin-left: 32px;
}

.fxccf-form .timeCover_jq .has-feedback:first-child,
.qzcs-form .timeCover_jq .has-feedback:first-child {
    margin-right: 20px;
}

.fxccf-form .inline-component,
.fxccf-form .top-form-inline input {
    /* display: inline-block; */
    margin-right: 0px;
    position: relative;
}

.fxccf-form .inline-component {
    width: 15%;
    position: relative;
}

#fxccf_tree {
    width: 63% !important;
}

#fxccf_tree .tree-select-form {
    width: 100% !important;
}

#fxccf_tree .ane-tree-select-arrow {
    right: 4px;
}

.fxccf-form {
    /* min-width: 1480px; */
    position: relative;
}