.zfsypsjglpt-jdkp-kpcczl-ck-qzcs .top-form-inline .glmt {
    margin-left: 32px;
}

.qzcs-form .inline-component,
.qzcs-form .top-form-inline input {
    /* display: inline-block; */
    margin-right: 0px;
    position: relative;
}

.qzcs-form .inline-component {
    width: 15%;
    position: relative;
}

#qzcs_tree {
    width: 58% !important;
}

#qzcs_tree .tree-select-form {
    width: 100% !important;
}

#qzcs_tree .ane-tree-select-arrow {
    right: 4px;
}

.qzcs-form .timeCover_jq,
.fxccf-form .timeCover_jq,
.jycxkp-form .timeCover_jq {
    width: 34% !important;
}

.qzcs-form .timeCover_jq .has-feedback,
.jycxkp-form .timeCover_jq .has-feedback,
.fxccf-form .timeCover_jq .has-feedback {
    width: 46% !important;
}

.qzcs-form .timeCover_jq .has-feedback .ane-datepicker,
.jycxkp-form .timeCover_jq .has-feedback .ane-datepicker,
.fxccf-form .timeCover_jq .has-feedback .ane-datepicker {
    width: 62% !important;
}

.qzcs-form {
    /* min-width: 1480px; */
    position: relative;
    height: 134px;
}
.kpcczl-content .qzcs-form .top-form-inline .form-control {
    width: 58%;
    margin-left: 5px;
    height: 28px;
    display: inline-block;
}
.qzcs-form .timeCover_jq .has-feedback .ane-datepicker{
    width: 56% !important;
}