
.xzbaq .btn{
    width: 100px;
    height: 32px;
    margin-right: 10px;
    padding: 4px;
    background: #1c9bff;
    color: #ffffff;
}
.xzbaq .btn:hover {
    background: #077CE1;
}
.xzbaq .disabled{
    background: #d4d7d9;
    opacity: 1;
}
.xzbaq .disabled:hover {
    background: #d4d7d9;
}
.xzbaq .btn:focus{
    outline: none;
}

.bacspz-baqlb .oparate {
    color: #0419dc;
    cursor: pointer;
    margin-right: 5px;
}
.baqplsc .btn-tool{
    position: absolute;
    bottom: 0px;
    padding: 5px;
    width: 100px;
    height: 30px;
    background: #1c9bff;
}
.baqplsc .disabled{
    background: #d4d7d9;
    opacity: 1;
}
.baqplsc .btn-tool:focus{
    outline: none;
}
.baqmodal .inlineArea{
    margin-bottom: 10px;
    text-align: right;
}
.baqmodal .inlineArea label{
    font-size: 15px;
    font-weight: normal;
    color: #536b82;
}
.baqmodal .inlineArea .form-control{
    display: inline-block;
    width: 170px;
    height: 33px;
}
.deletemodal .message{
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    color: #000;
    text-align: center;
}