.table-index {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #536b82;
}

.table-index ul {
    list-style: none;
}

.table-index ul label {
    margin-bottom: 0;
}

/* 头部样式 */
.table-index .table-index-thead-fixed {
    overflow: hidden;
    white-space: nowrap;
    margin-top: -34px;
    background-color: #ccdbf1;
}

.table-index .table-index-thead {
    width: 100%;
    background: #ccdbf1;
    border: 1px solid #a5b4bd;
}

.table-index .table-index-thead li {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    background: #ccdbf1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    border-left: 1px solid #a5b4bd;
    /* float: left; */
    font-size: 16px;
    color: #2c477a;
}

.table-index .table-index-thead li:first-child {
    border-left: none;
}

/* 内容样式 */
.table-index .table-index-tbody {
    height: 100%;
    min-height: 34px;
    overflow: auto;
    background: #e6edf7;
    border-bottom: 1px solid #ffffff;
    /* border: 1px solid #e0e7ec; */
    /* border-top: none;
    border-left: 0px;
    border-right: none; */
}

.table-index .table-index-tbody li {
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
}

.table-index .table-index-tbody li:hover {
    background-color: #fff;
}

.table-index .table-index-tbody li .hover-color {
    background-color: #E6E6E6;
}

.table-index .table-index-tbody li .tbody {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: none;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    color: #33414f;
}

.table-index .table-index-tbody li div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #33414f;
}

.table-index .table-index-tbody .relationTure {
    color: #0fb516;
}

.table-index .table-index-tbody .relationFalse {
    color: #d74444;
}

.table-index .table-index-tbody li:first-child .tbody {
    height: 40px;
    line-height: 40px;
    vertical-align: top;
}

.table-index .table-index-tbody li .table-index-checkbox {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.table-index .table-index-tbody li .table-index-checkbox div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* 加载样式 */
.table-index .table-index-loading {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: #dfe9f7;
    line-height: 34px;
    vertical-align: middle;
    background: url(/static/image/tyywglpt/loading.gif) center center no-repeat;
}

.table-index .loadingSpan {
    position: absolute;
    top: 52%;
    left: 48%;
    text-align: center;
    color: #536b82;
}

.table-index .noData {
    position: absolute;
    left: 49%;
    top: 8px;
    color: #536b82;
    font-size: 14px;
}

.table-index>ul {
    white-space: nowrap;
}

.table-index-thead {
    text-align: left;
}

.table-index-thead>li {
    text-align: center;
}

.table-index-tbody>li {
    text-align: center;
}

.table-index-tbody>li>div {
    text-align: center;
    min-width: 25px;
}

.table-index .table-cont {
    padding: 0 3px;
}

.table-index .table-index-tbody li {
    text-align: left;
}

.table-index-thead>li {
    border: 1px solid #fff;
    min-width: 25px;
}

.table-index .table-index-thead li+li {
    border-left: none;
}

.table-index .table-index-thead li:first-child {
    /* border-left: 1px solid #a5b4bd; */
}

.table-index .table-index-thead {
    border: 0px;
}

.table-index-tbody li .tbody:last-child {
    /* border-right: 1px solid #e0e7ec; */
}

.table-index-tbody li .tbody:first-child {
    /* border-left: 1px solid #e0e7ec; */
}

.table-index .table-index-tbody .list-null {
    text-align: center;
    border: 1px solid #e0e7ec;
    border-top: none;
}

.table-index .table-index-tbody li:nth-child(odd),
.table-index .table-index-tbody li:nth-child(odd) div {
    background-color: #e6edf7;
}

.table-index .table-index-tbody li:nth-child(even),
.table-index .table-index-tbody li:nth-child(even) div {
    background-color: #dfe9f7;
}

.table-index .table-index-tbody li:hover,
.table-index .table-index-tbody li:hover div {
    background-color: #fff;
}