#changePwd input {
    width: 250px;
    display: inline-block;
    padding-right: 25px;
}

#changePwd .has-feedback label~.form-control-feedback {
    top: 0px;
}

#changePwd .ipt-class {
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
}

#changePwd .ane-input-tips {
    width: 250px;
    text-align: left;
}

#changePwd .ane-label-tips .ane-label-tips-label {
    display: inline-block;
    color: #33414f;
    font-size: 16px;
    font-weight: normal;
    width: 96px;
    text-align: right;
}

#changePwd.sszhxt_en .ane-label-tips .ane-label-tips-label {
    width: 170px;
}

#changePwd.sszhxt_en input,
#changePwd.sszhxt_en .ane-input-tips {
    width: 220px;
}

#changePwd .ane-label-tips {
    width: 408px;
    height: 100%;
    text-align: center;
}

#changePwd .fa-exclamation-circle:before {
    content: '';
}

#changePwd .pwd-tips {
    position: absolute;
    top: 40px;
    left: 133px;
}

#changePwd .warn {
    color: #d2403d;
    font-size: 12px;
}


.edit-pwd,
.logout_vm {
    width: 440px;
}

.edit-pwd .modal-content.editPwdDraggable .modal-body {
    padding: 30px 15px 25px 15px;
}

.logout_vm .modal-body {
    padding: 45px;
}

.logout_vm .modal-body .logoutMsg {
    font-size: 16px;
    color: #33414f;
    text-align: center;
}

.myAlarm-modal .modal-header,
.edit-pwd .modal-header,
.logout_vm .modal-header,
.help-dialog .modal-header {
    background-color: #0A1238;
    color: #fff;
    cursor: move;
}

.myAlarm-modal .close,
.edit-pwd .close,
.logout_vm .close,
.help-dialog .close {
    color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.edit-pwd .modal-body .form-group label {
    width: 80px;
    height: 34px;
    line-height: 34px;
    margin-top: 10px;
    display: inline-block;
    text-align: right;
}


/* .edit-pwd .modal-body .form-control {
    width: 400px;
    margin-left: 10px;
    margin-top: 10px;
} */

.edit-pwd .modal-body .form-inline {
    text-align: center;
}

.edit-pwd .modal-body .form-inline .help-block {
    margin-left: 90px;
    text-align: left;
}

.edit-pwd .form-inline .has-feedback .form-control-feedback {
    top: 10px;
}

.myAlarm-modal .modal-footer,
.logout_vm .modal-footer,
.edit-pwd .modal-footer {
    border-top: none;
    background-color: #ccdbf1;
}

.help-dialog .modal-footer {
    border-top: none;
    padding-right: 53px;
    margin-top: 10px;
}

.myAlarm-modal .modal-footer .btn,
.edit-pwd .modal-footer .btn,
.logout_vm .modal-footer .btn,
.help-dialog .modal-footer .btn {
    padding: 0;
}

.myAlarm-modal .modal-footer .btn,
.logout_vm .modal-footer .btn,
.edit-pwd .modal-footer .btn {
    width: 130px;
    height: 40px;
    line-height: 38px;
    color: #ffffff;
    font-size: 16px;
    background-color: #1055b3;
    border: 1px solid #1055b3;
    border-radius: 2px;
    outline: none;
}

.myAlarm-modal .modal-footer .btn-primary,
.logout_vm .modal-footer .btn-primary,
.edit-pwd .modal-footer .btn-primary {
    float: left;
    margin-left: 55px;
}

.myAlarm-modal .modal-footer .btn-default,
.logout_vm .modal-footer .btn-default,
.edit-pwd .modal-footer .btn-default {
    float: right;
    margin-right: 55px;
}

.help-dialog .modal-footer .btn-default {
    width: 120px;
    height: 30px;
    line-height: 28px;
    color: #0a1238;
    background-color: white;
    margin-left: 20px;
    border: 1px solid #0a1238;
    border-radius: 2px;
    outline: none;
}

.myAlarm-modal .modal-footer .btn:hover,
.logout_vm .modal-footer .btn:hover,
.edit-pwd .modal-footer .btn:hover {
    color: #fff;
    background-color: #107dda;
    border: 1px solid #107dda;
}

.help-dialog .modal-footer .btn-default:hover {
    color: #fff;
    background-color: #151c4f;
    border: 1px solid #0a1238;
}

.myAlarm-modal .modal-content,
.edit-pwd .modal-content,
.logout_vm .modal-content,
.help-dialog .modal-content {
    border: none;
}

.myAlarm-modal .modal-footer {
    text-align: center;
}

.myAlarm-modal .iconView {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    line-height: 12px;
    background: url(/static/image/zfsypsjglpt/checkBtn.png?__sprite) no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

.myAlarm-modal .myAlarmMsg {
    height: 230px;
    overflow-y: auto;
}

.myAlarm-modal .myAlarmMsg li {
    padding: 10px 0 5px 15px;
    border-bottom: 1px solid #ccdbf1;
    vertical-align: middle;
}

.myAlarm-modal .myAlarmMsg li span {
    display: inline-block;
    width: 345px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2c477a;
    font-size: 16px;
    vertical-align: middle;
}

.myAlarm-modal .myAlarmMsg .noAlarmMsg {
    line-height: 220px;
    text-align: center;
    font-size: 16px;
    color: #2c477a;
}

.myAlarm-modal .detailMsgDiv {
    padding-top: 10px;
}

.myAlarm-modal .detailMsg p {
    color: #33414f;
    font-size: 16px;
    line-height: 30px;
    padding: 0px 20px;
}

.myAlarm-modal .myAlarmMsgLoading {
    position: relative;
}

.myAlarm-modal .myAlarmMsgLoading .loading {
    background: url(/static/image/tyywglpt/loading.gif) center center no-repeat;
    line-height: 230px;
    text-align: center;
    text-indent: 120px;
    color: #33414f;
    font-size: 16px;
}

.myAlarm-modal .com-modal-modal-body {
    overflow: auto;
    padding: 0px;
}