/* 统一运维管理平台--平台级联管理
caojiacong */

.ptjlgl .tyywglpt-list-panel {
    top: 146px;
}

.ptjlgl-modal .com-modal-modal-body {
    padding-top: 16px;
}

.ptjlgl-modal .form-inline .form-item-lg {
    width: 100%;
}

.ptjlgl-modal .form-item-lg .has-icon .form-control {
    width: 455px;
}

.ptjlgl-modal .textarea-item .has-icon textarea {
    height: 100px;
    white-space: pre-wrap;
    overflow: auto;
    line-height: 1.5;
}

.ptjlgl-modal .form-item .form-tip.tip-md {
    width: 140%;
}

#ptjlgl-modal-account {
    margin: 20px 0px;
}

#ptjlgl-modal-account .form-group {
    text-align: center;
}

#ptjlgl-modal-account .form-item .form-tip {
    padding-left: 310px;
}

/* .ptjlgl-modal-account.has-extra-btn .com-modal-btn-extra {
    margin-right: -108px;
    margin-left: 100px;
}

.ptjlgl-modal-account.has-extra-btn .com-modal-btn-ok {
    margin-left: -100px;
} */

/* 100 + 8 + 8 */
/* .ptjlgl-modal-account.has-extra-btn .com-modal-btn-cancle {
    margin-left: 116px;
} */

.ptjlgl .sbzygl-modal label{
    width: 98px;
    margin-right: 10px;
}